<link rel="stylesheet" href="../static/bootstrap.css" type="text/css">
<h1 class="text-center">Kraftstoffverbrauch {{ car_id }}</h1>
<div class="center-block" style="width: 800px;">
    <table class="table table-bordered">
        <tr>
            <td>Durschnittsverbrauch</td>
            <td><b>&#216;: {{ total_average_consumption }} l/100km</b></td>
        </tr>
        <tr>
            <td>Kilometer im Jahr</td>
            <td><b>TODO km</b></td>
        </tr>
        <tr>
            <td>Insgesamte Laufleistung</td>
            <td>TODO km</td>
        </tr>
        <tr>
            <td>Hochrechnung nächster Monat</td>
            <td>TODO €</td>
        </tr>
    </table>
    <table class="table table-bordered table-hover">
        <tr>
            <th>Datum</th>
            <th>Entfernung</th>
            <th>Menge</th>
            <th>Verbrauch</th>
            <th>Preis</th>
        </tr>
        {% for fuel_consumption in fuel_consumptions %}
        <tr>
            <td>{{ fuel_consumption.date }}</td>
            <td>{{ fuel_consumption.distance }} km</td>
            <td>{{ fuel_consumption.amount }} Liter</td>
            <td>{{ fuel_consumption.average }} l/100km</td>
            <td title="TODO">{{ fuel_consumption.price }} €</td>
        </tr>
        {% endfor %}
    </table>
</div>
